@charset "UTF-8";
/*==================================================================
# 設定
================================================================= */
/* 色
-------------------------------------------------------------*/
/* レイアウト値
-------------------------------------------------------------*/
/* 階層
-------------------------------------------------------------*/
/* ブレークポイント
-------------------------------------------------------------*/
/* メディアクエリー
-------------------------------------------------------------*/
/*==================================================================
# 初期化
================================================================= */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .05em;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

body.noscroll {
  overflow: hidden;
}

img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
  border: none;
}

/*==================================================================
#  補完クラス
================================================================= */
/*タブレットだけ非表示 
-------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .hidden-md {
    display: none;
  }
}

/*スマホだけ非表示 
-------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

/* セクション
-------------------------------------------------------------*/
.section-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #391e88;
  padding-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}

.section-subtitle {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #391e88;
  letter-spacing: .1em;
  text-align: center;
}

/* 共通クラス
-------------------------------------------------------------*/
.inner {
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 768px) {
  .inner {
    padding: 0 20px;
  }
}

.text-left {
  text-align-last: left;
}

.btn a {
  display: inline-block;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #391e88;
  text-align: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.btn a:hover {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.util-btn {
  margin-top: 30px;
  text-align: center;
}

.util-btn a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#250d65), to(#7633a4));
  background: linear-gradient(to right, #250d65, #7633a4);
  cursor: pointer;
}

.util-btn a:hover {
  opacity: .7;
}

/*==================================================================
# header
================================================================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 30;
}

.header.scroll {
  background-color: #21054D;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  width: 160px;
}

.site-title.hidden {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .site-title {
    width: 122px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 200px;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .header__item + .header__item {
    margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .header__item {
    padding: 20px 0;
  }
}

.header__item__link {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

.header__item__link::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -8px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__item__link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.burger-btn {
  display: none;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  .burger-btn.cross .bar__top {
    -webkit-transform: translateY(12px) rotate(45deg);
            transform: translateY(12px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .burger-btn.cross .bar__mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .burger-btn.cross .bar__bottom {
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
}

.bar {
  display: block;
  width: 34px;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar__top {
  margin-bottom: 7px;
}

.bar__mid {
  margin-bottom: 7px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #19074a, #642390);
  z-index: -1;
  display: none;
}

.mask.open {
  display: block;
}

/* mainvisual 
-------------------------------------------------------------*/
.mainvisual {
  background: url(../img/hero.jpg) no-repeat center center/cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  padding: 0 30px;
}

.main__contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__contents {
    text-align: left;
    padding: 0 30px;
  }
}

.main-copy {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main-copy {
    font-size: 4.8rem;
  }
}

.sub-copy {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sub-copy {
    font-size: 1.3rem;
  }
}

/* pankuzu
-------------------------------------------------------------*/
.pankuzu {
  background-color: #F7F7F7;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
}

.pankuzu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pankuzu__item {
  margin-right: 30px;
  position: relative;
}

.pankuzu__item::after {
  position: absolute;
  content: '>';
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pankuzu__item:last-child::after {
  position: absolute;
  content: '';
}

.pankuzu__item a {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 768px) {
  .pankuzu__item a {
    font-size: 1.1rem;
  }
}

/* contact
-------------------------------------------------------------*/
.contact {
  margin: 70px auto;
}

.contact__inner {
  max-width: 1110px;
}

.contact__lead {
  text-align: center;
}

.contact__wrapper {
  margin-top: 40px;
  padding: 90px;
  background: #F7F7F7;
}

.contact__item + .contact__item {
  margin-top: 30px;
}

.contact__item-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.contact__item-title-inline {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #391E88;
}

.contact__item-input {
  font-size: 1.4rem;
}

.contact__radio {
  margin-right: 35px;
}

.contact__radio:last-child {
  margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  font: inherit;
  outline: none;
  padding: .5em .8em;
  font-size: 1.4rem;
  color: #333;
}

textarea {
  resize: vertical;
  min-height: 255px;
  width: 600px;
}

input[type="text"],
input[type="email"],
select {
  width: 300px;
}

input[type="tel"] {
  width: 200px;
}

/*==================================================================
# main
================================================================= */
.totop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #391e88;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 768px) {
  .totop {
    right: 20px;
  }
}

.totop i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.totop:hover {
  opacity: .7;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

/*==================================================================
# footer
================================================================= */
.footer {
  background-color: #120E19;
  color: #fff;
  padding: 60px 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__item {
  margin-right: 30px;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer__item {
    margin-bottom: 20px;
  }
}

.footer__item__link {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
}

.copyright {
  margin-top: 22px;
  text-align: center;
  font-size: 1rem;
  color: #A798B7;
}
/*# sourceMappingURL=contact.css.map */