@charset "UTF-8";
/*==================================================================
# 設定
================================================================= */

/* 色
-------------------------------------------------------------*/
$color-text-base: #333;
$main-color: #391e88;
$color-gray: #e8e8e8;



/* レイアウト値
-------------------------------------------------------------*/
$layout-width-canvas: 1440px;

/* 階層
-------------------------------------------------------------*/
$layer: (
  modal: 100, // モダール
  drawer: 40, // ドロワー
  floating: 30, // フローティングアイテム
  header: 20, // ヘッダー
  footer: 10, // フッター
  default: 1,
);


/* ブレークポイント
-------------------------------------------------------------*/
 // マップ型変数breakpointsを定義
$breakpoints: (
    'sm': 'screen and (max-width: 768px)',
    'md': 'screen and (min-width: 769px)',
) !default;

/* メディアクエリー
-------------------------------------------------------------*/
@mixin  mq($breakpoint: md) {
// map-get(マップ変数型,キー)で値を取得
@media #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムできる
    @content;
}

}

/*==================================================================
# 初期化
================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .05em;
  color: $color-text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;

  &.noscroll {
      overflow: hidden;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
  border: none;
}


/*==================================================================
#  補完クラス
================================================================= */

/*タブレットだけ非表示 
-------------------------------------------------------------*/
.hidden-md {
  @include mq('md') {
    display: none;
  }
}

/*スマホだけ非表示 
-------------------------------------------------------------*/
.hidden-sm {
  @include mq('sm') {
    display: none;
  }
}

/* セクション
-------------------------------------------------------------*/
.section-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: $main-color;
    padding-bottom: 5px;
    text-align: center;
}
.section-subtitle {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    color: $main-color;
    letter-spacing: .1em;
    text-align: center;
}



/* 共通クラス
-------------------------------------------------------------*/
.inner {
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: content-box;

    @include mq('sm'){
        padding: 0 20px;
    }
}
.text-left {
    text-align-last: left;
}
.btn {
    a {
        display: inline-block;
        border-radius: 50px;
        width: 200px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        background-color: $main-color;
        text-align: center;
        transition: opacity .3s;

        &:hover {
            transition: opacity .3s;
        }
    }
}
.util-btn {
    margin-top: 30px;
    text-align: center;

    a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        background: linear-gradient(to right, rgba(37,13,101,1), rgba(118,51,164,1));
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
    }
}


/*==================================================================
# header
================================================================= */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 30;

    &.scroll {
        background-color: #21054D;
    }
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-title {
    width: 160px;
    &.hidden {
        opacity: 0;
    }

    @include mq('sm'){
        width: 122px;
    }
    img {

    }
}
.header__nav {
    @include mq('sm'){
        position: fixed;
        top: 200px; 
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
    }
}
.header__list {
    display: flex;

    @include mq('sm'){
        position:fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
.header__item {
    @include mq('md'){   
        & + & {
            margin-left: 25px;
        }
    }

    @include mq('sm'){
        padding:  20px 0;
    }
}
.header__item__link {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: -8px;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
    }

    &:hover::after {
        transform: scale(1, 1);
    }
}
.burger-btn {
    display: none;
    z-index: 30;

    @include mq('sm'){
        display: block;
        &.cross {
            .bar__top {
                transform: translateY(12px)rotate(45deg);
                transition: transform .3s;
            }
            .bar__mid {
                opacity: 0;
                transition: opacity .3s;
            }
            .bar__bottom {
                transform: translateY(-6px)rotate(-45deg);
                transition: transform .3s;
            }
        }
    }
}
.bar {
    display: block;
    width: 34px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    transition: transform .3s;
}
.bar__top {
    margin-bottom: 7px;
}
.bar__mid {
    margin-bottom: 7px;
}
.bar__bottom {

}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(25,7,74,1), rgba(100, 35, 144,1));
    z-index: -1;
    display: none;

    &.open {
        display: block;
    }
}


/* mainvisual 
-------------------------------------------------------------*/
.mainvisual {
    background: url(../img/hero.jpg) no-repeat center center/cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    padding: 0 30px;
}
.main__contents {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    @include mq('sm'){
        text-align: left;
        padding: 0 30px;
    }
}
.main-copy {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;

    @include mq('sm'){
        font-size: 4.8rem;
    }
}
.sub-copy {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;

    @include mq('sm'){
        font-size: 1.3rem;
    }
}


/* pankuzu
-------------------------------------------------------------*/
.pankuzu {
    background-color: #F7F7F7;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}
.pankuzu__inner {
    display: flex;
}
.pankuzu__item {
    margin-right: 30px;
    position: relative;

    &::after {
        position: absolute;
        content: '>';
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
    }
    &:last-child::after {
        position: absolute;
        content: '';
    }

    a {
        text-decoration: none;
        color: #333;
        @include mq('sm'){
            font-size: 1.1rem;
        }
    }
}



/* news
-------------------------------------------------------------*/
.news {
    margin-top: 70px;
    @include mq('sm'){
        margin-top: 40px;
    }
}
.news__inner {
    max-width: 917px; 
    @include mq('md'){
        display: flex;
    }
}
.news__contents {
    @include mq('sm'){
        margin-top: 32px;
    }
}
.news__article {
    & + & {
        margin-top: 20px;
    }
    @include mq('sm'){
        & + & {
            margin-top: 40px;
        }
    }

}
.news__article__link {

    @include mq('md'){   
        display: flex;
        text-decoration: none;
        color: #333;
    }
}
.news__date {
    display: flex;
    align-items: center;
}
.news__date-detail {
    color: $color-text-base;
    font-size: 1.5rem;
    letter-spacing: .1em;
    margin-right: 20px;
}
.news__kind {
    display: inline-block;
    width: 82px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: $color-text-base;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $color-gray;
    border-radius: 50px;
    margin-right: 20px;
}
.news__detail {
    font-size: 1.5rem;
    color: $color-text-base;
    @include mq('sm'){
        margin-top: 10px;
        line-height: 1.714285;
    }
}   
.news__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.news__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }

    a {
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        background: linear-gradient(to right, rgba(37,13,101,1), rgba(118,51,164,1));
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        font-size: 2re;
        text-align: center;

        &.checked {
            background: #F1EBF8;
            color: #4F31A5;
        }
    }
}


/* contact
-------------------------------------------------------------*/
.contact {
    margin-top: 100px;
    padding: 80px 0;
    background-color: $color-gray; 
}
.contact__inner {
    
}
.contact-text  {
    margin-top: 35px;
    text-align: center;
}




/*==================================================================
# main
================================================================= */
.totop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .3s;
    z-index: 3;
    display: none;
    @include mq('sm'){
        right: 20px;
    }
    
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    &:hover {
        opacity: .7;
        transition: opacity .3s;
    }
}

/*==================================================================
# footer
================================================================= */
.footer {
    background-color: #120E19;
    color: #fff;
    padding: 60px 30px;
}
.footer__inner {

}
.footer__nav {

}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    @include mq('md'){
        justify-content: center;
    }
}
.footer__item {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }

    @include mq('sm'){
        margin-bottom: 20px;
    }
}
.footer__item__link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
}
.copyright {
    margin-top: 22px;
    text-align: center;
    font-size: 1rem;
    color: #A798B7;
}




/*==================================================================
# news-article
================================================================= */
.news__article__inner {
    max-width: 750px;
}
.news__article-title {
    font-size: 3.6rem;
    letter-spacing: .05em;
    margin-bottom: 13px;
    line-height: 1.4375;

    @include mq('sm'){
        font-size: 2.2rem;
        margin-bottom: 20px;
        line-height: 1.5454;
    }
}
.news__article-img {
    margin-top: 27px;
    @include mq('sm'){
        margin-top: 14px;
    }
}
.news__article-subtitle {
    margin-top: 60px;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .018em;
    padding-left: 16px;
    position: relative;
    @include mq('sm'){
        margin-top:40px;
        font-size: 1.8rem;
    }

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 38px;
        width: 6px;
        background-color: $main-color;
        border-radius: 10px;
        @include mq('sm'){
            height: 18px;
        }
    }
}
.news__article-small-title {
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .018em;
    @include mq('sm'){
        font-size: 1.6rem;
    }
}
.news__article-text {
    margin-top: 20px;
    letter-spacing: .05em;
    line-height: 1.666;

    &:first-child {
        margin-top: 30px;
    }
    &:last-child {
        margin-top: 30px;
    }
}
.news__article__sns__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 375px;
    height: 30px;
    line-height: 30px;
}
.news__article__sns__item {

}
.news__article__sns__item__link {
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    
    i {
        height: 30px;
        line-height: 30px;
    }
}
.twitter {
    padding: 5px 10px;
    background-color: lightblue;
    color: #fff;
}
.line {
    color: green;
}

.news__article__list {
    margin-top: 40px;
}
.news__article__list__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 94px;
    border-top: 1px solid #B8AED5;
    border-bottom: 1px solid #B8AED5;
    position: relative;
    @include mq('sm'){
        height: 120px;
    }

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        background-color: #B8AED5;
        height: 70px;
        width: 1px;
    }
}
.news__article__item {
    width: 39.8219%;
}
.news__article__item__link {
    font-size: 1.5rem;
    letter-spacing: .05em;
    line-height: 1.5714;
    color: $main-color;
    @include mq('sm'){
        font-size: 1.2rem;
    }
}
.news__article__list-text {
    margin-top: 20px;
    font-size: 1.4rem;
    letter-spacing: .08em;
    text-align: center;
    
    a {
        color: $main-color;

    }
}

/*==================================================================
# service
================================================================= */
.service {

}
.service__content {
    max-width: 1110px;
    margin-top: 70px;
    
    @include mq('sm'){
        margin-top: 40px;
    }

}
.service__content__list {

}
.service__content__item {
    @include mq('md'){        
        display: flex;
        justify-content: space-between;
    }

    & + & {
        margin-top: 60px;

        @include mq('sm'){
            margin-top: 50px;
        }
    }
}
.service__content__img {
    @include mq('md'){
        width: 40%;
    }
    img {

    }
}
.service__content__body {
    @include mq('md'){
        width: 55.91%;
        margin-left: 20px;
    }
    @include mq('sm'){
        margin-top: 20px;
    }
}
.service__content-title {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .05em;
    @include mq('sm'){
        font-size: 1.8rem;
        text-align:center;
    }
}
.service__content-detail {
    margin-top: 20px;
    font-size: 1.5rem;
    letter-spacing: .05em;
    line-height: 1.8;

    @include mq('sm'){
        font-size: 1.4rem;
        line-height: 1.7143;
        margin-top: 15px;
    }
}
